.hero{
  height: calc(100vh - 100px);
background:linear-gradient(180deg,#0c0c1d, #111132);
position: relative;
width: 100%;
display: flex; 
justify-content: center;
align-items: center; 
.wrapper{
max-width: 1366px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
align-items: center;
justify-content: center;
position: absolute;
  .textContainer{
width: 50%;
height: 100%;
display: flex;

flex-direction: column;
gap: 30px;

align-items: center;
justify-content: center;
     h2{
      align-self: flex-start;
letter-spacing: 10px;
color: blueviolet;
}
      h1{
font-size: 80px;
font-weight: bold;
}
.buttons{
display: flex;
gap: 20px;
align-self: flex-start;

    #b1{
height: 50px;
width: 150px;
background-color: transparent;
border: 1px solid white;

border-radius: 10px;

a{
  padding: 17px;
  text-decoration: none;
  color: white;
  font-weight: 400;
}
cursor: pointer;
  }
  #b2{
    height: 50px;
width: 150px;
background-color: lightgray;
border: 1px solid white;
border-radius: 10px;
cursor: pointer;  

color:black;
a{
  padding: 18px 38px;
  text-decoration: none;
  color: black;
  font-weight: 400;
}
}






}

img{
  width: 50px;
align-self: flex-start;

}

}

  .imageContainer{
    width: 50%;
    height: 100%;
    display: flex;
img{
display: flex;
}
  }
}



.slidingContent{
position: absolute;
font-size: 50vh;
white-space: nowrap;
bottom: -140px;
color: #bbd7de0b;
width: 50%;


}
  

}

